{% extends "base.html"%}
{% load bootstrap4 %}
{% block content %}
<div class="container-fluid">

    <div class="head" >




    </div>
    <div>
        <hr>
       
        


        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6">

                {% for post in posts %}
                <div class="card">
                    <div class="card-title"><h2>{{post.title}}</h2></div>
                    <img src="{{ post.image.url}}" alt="">

                    <div class="card-body">
                        
                        <p class="card-text">{{ post.posted | timesince }} <em>By: </em> <strong>{{ post.user.user.username }}</strong></p>

                        <p>{{post.post}}</p>

                    </div>
                    <hr style="border:1px solid rgb(1, 48, 48)">

                </div>
                {% endfor %}
            </div>
            <div class="col-md-4">

            </div>
        </div>

    </div>


    {% endblock %}