{% extends "base.html"%}
{% load bootstrap4 %}
{% block content %}
<div class="container-fluid">

    <div class="head">




    </div>
    <div>
        <hr>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6">

                {% for post in posts %}
                <div class="card mt-3">
                    <div class="card-title">
                        <h2>{{post.title}}</h2>
                    </div>
                    <img src="{{ post.image.url}}" alt="" height="400px" width="500px">

                    <div class="card-body">

                        <p class="card-text">{{ post.posted | timesince }} <em>By: </em>
                            <strong>{{ post.user.user.username }}</strong></p>

                        <p>{{post.post}}</p>

                    </div>
                    <hr style="border:1px solid rgb(1, 48, 48)">

                </div>
                {% endfor %}
            </div>
            <div class="col-md-4">
                <nav class="navbar navbar-light bg-light">
                    <form class="form-inline my-2 my-lg-0 navbar-form" role="search" action="{% url 'search_results' %}">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="business">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </nav>
                <hr>

                <div class="row">
                    {%if business %}
                    <h2>Found {{ business |length }} of searched term {{message}}</h2>

                    {%else %}
                    <div>
                        <h2 class="text-center"> Found 0 business for the search term {{message}}</h2>
                    </div>


                    {% endif %}

                </div>

                <div class="container-fluid row">

                    {% if business %}
                    {% for business in business %}
                    <div class="col-md-7">
                        <h1 class="text-underline">{{business.name}}</h1>

                        <img src="{{business.image.url}}" alt="" height="300px" width="300px">
                        <p class="text-justify">{{business.email}}</p>


                    </div>
                    {% endfor %}

                </div>
                {% endif %}
                <hr>

                {% for business in business %}
                <div class="card">
                    <div class="card-body">
                        <div class="card-title" style="text-decoration: underline;">{{business.name}}</div>
                        <img src="{{business.image.url}}" alt="{{business.name}}" height="80px" width="150px">
                        <h5>Email:</h5>
                        <p>{{business.email}}</p>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>

    </div>


    {% endblock %}