{% load bootstrap4%}
{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">SweetSpot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/">Neighbuorhood</a>
                </li>
                <div class="col-sm-6 col-md-6" style="display: inline-flex; margin-right: 50px;">
                    {% if user.is_authenticated %}


                    <div class="instaicon like" style="display: inline;" class="dropdown">
                        <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button"
                            aria-expanded="false">Account</a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="{% url 'profile' user.username %}" style="color: inherit;">
                                    </span>Profile</a>
                            </li>
                            <li>
                                <a href="{%url 'post'%}" style="color: inherit;">Make new post</a>
                            </li>
                            <li>
                                <a href="/accounts/password_change" style="color: inherit;">Change Password</a>
                            </li>

                            <li>
                                <a href="/accounts/logout" style="color: inherit;">Logout</a>
                            </li>
                        </ul>
                    </div>

                    {% else %}
                    <a class='btn btn-default' href="/accounts/login">
                        <p>Login</p>
                    </a>
                    {% endif %}
                </div>

            </ul>
            <select class="form-select" aria-label="Default select example">
                <option selected>change Location</option>
                {% for neighbour in neighbour %}
                <option value="1">{{ neighbour.location}}</option>
                {%endfor%}

            </select>

        </div>
    </nav>

</body>

</html>