{% extends  'base.html' %}
{% load bootstrap4  %}


{%block content %}
<div class="container">
    <div class="row">
        <div class="col-md-7" style="margin-top:10px">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    
                    <a class="nav-item nav-link" href="{% url 'neighbor'%}">Update neighbohood</a>
                    <a class="nav-item nav-link" href="#">Pricing</a>
                   
                  </div>
                </div>
              </nav>
            <div class="media-body">

                <div class="details">
                    <div class="profile">
                        <h5 style="margin-right: 20px; margin-left: 20px;">{{ user.username}}</h5><br>
                        <p>{{user.email}}</p>
                        <br>

                        <p>{{location.name}}</p>

                        <a class="btn btn-sm btn-outline-primary mr-3" data-toggle="modal"
                            data-target=".bd-example-modal-md"><strong>Update
                                Profile</strong></a>
                    </div>


                    <p style="margin-left: 20px;">{{ user.profile.bio}}</p>
                </div>
                <hr>
               

            </div>
            <div class="modal fade bd-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-md ">
                    <div class="modal-content">
                        <form action="" method="post" novalidate enctype="multipart/form-data"
                            class="mr-4 mt-4 ml-4 mb-4">
                            {% csrf_token%}
                            {% bootstrap_form user_form layout='inline' %}
                            {% bootstrap_form prof_form layout='inline' %}
                            <button type="submit" class="btn btn-primary btn-sm"> Update Profile</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>



{%endblock %}